@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #090d16;
  color: #f8fafc;
  font-family:
    "Chivo",
    system-ui,
    -apple-system,
    sans-serif;
}
