# GCP Environment Configuration
GCP_PROJECT_ID=upbeat-repeater-477110-q6
GOOGLE_APPLICATION_CREDENTIALS=/path/to/sa-key.json

# GCS Source Configuration
GCS_SOURCE_BUCKET=sdlc-workspec-store
GCS_SOURCE_PREFIX=etl/data/raw_sales_data.csv

# BigQuery Destination Configuration
BIGQUERY_DATASET=analytics
BIGQUERY_TABLE=vishesh-test1
WRITE_DISPOSITION=WRITE_TRUNCATE

# Staging & Runtime
STAGING_DIR=staging/sales_order_etl
