POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:5432/postgres

BIGQUERY_PROJECT_ID=upbeat-repeater-477110-q6
BIGQUERY_DATASET=sales_analytics
BIGQUERY_TABLE=fct_sales_orders
BIGQUERY_LOCATION=US

PORT=8000
AUTO_BOOT_ETL=false
ALLOWED_ORIGINS=["http://localhost:5173", "http://localhost:3000"]
