bcrypt>=4.0.0
cloud-sql-python-connector>=1.6.0
fastapi>=0.109.0
google
google-cloud-bigquery>=3.14.0
google-cloud-logging>=3.8.0
httpx>=0.26.0
numpy>=1.24.0
pandas>=2.0.0
passlib[bcrypt]
passlib[bcrypt]
pg8000>=1.30.0
pyarrow>=14.0.0
pydantic>=2.0.0
pydantic[email]
pytest-cov>=4.1.0
pytest>=7.4.0
python-dateutil>=2.8.2
python-multipart>=0.0.6
six>=1.16.0
sqlalchemy>=2.0.0
starlette>=0.36.0
uvicorn>=0.27.0
