bcrypt
email-validator
fastapi>=0.100.0
httpx
passlib[bcrypt]
passlib[bcrypt]
pydantic-settings>=2.0.0
pydantic>=2.0.0
pydantic[email]
pytest
pytest-asyncio
python-jose[cryptography]
python-multipart
sqlalchemy>=2.0.0
uvicorn>=0.20.0
